.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: rgb(48, 48, 48);

  &__logo {
    padding: 10px 30px;
    font-weight: 600;
    color: white;
    background-color: #c2185b;
  }

  &__login {
    font-size: 18px;
    height: 40px;
    width: 100px;
  }
}
